.container {
    display: grid;
    grid: 85px 85px 85px / 85px 85px 85px;
    gap: 5px;
    background-color: lightgray;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    font-size: 32px;
  }