*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

#title-section {
    background-color: white;
    margin-top: 1rem;
}

#title-section h1 {
    font-size: 2rem;
}

#title-section p{
    color:tomato;
    font-size: 1.2rem;
    padding: 0.7rem;
}

#content-section {
    background-color: rgb(77, 78, 77);
    padding: 2rem 1rem;
}

#content {
    border: 2px solid white;
    padding: 3rem 5rem;
    background-color: tomato;
}

select, input{
    width: 30%;
    height: 3rem;
    margin: 0 1%;
    font-size: 1.5rem;
    border-radius: 10px;
}

h3{
    margin: 1%;
    font-size: 1.5rem;
}

#present-date {
    margin: 1.5rem 0;
}

#calculate-btn {
    background-color: green;
}

#reset-btn {
    background-color: gold;
}

#result{
    width: 75%;
    height: 13rem;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(77, 78, 77);
    margin: 1%;
    padding: 1rem;
}

span {
    font-size: 1.5rem;
}



/* utility classes */
.text-center{
    text-align: center;
}

.full-width {
    width: 100%;
}

.btn {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
}
    